<header class="page-header {% if include.heroHeader == false %}gray-fixed{% endif %}">
  <div class="container">
    <a href="/docs/"><img src="/assets/img/logo-developer-white.svg" alt="FusionAuth developer logo" class="logo"></a>
    <nav>
      <header>
        <a href="/docs/"><img src="/assets/img/logo-developer-gray.svg" alt="FusionAuth developer logo" class="logo"></a>
        <a href="#" class="menu-close gray-light button square"><i class="fal fa-times fa-fw fa-2x"></i></a>
      </header>
      <ul>
        <li><a href="/">Back to site</a></li>
        <li><a href="/download/">Downloads</a></li>
        <li class="search">
          <a href="#" class="search"><i class="fal fa-search fa-fw"></i></a>
        </li>
        <li>
          <a href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/account/" class="account">
            <span>Account</span>
            <i class="fal fa-user-circle fa-2x fa-fw"></i>
          </a>
        </li>
      </ul>
    </nav>
    <a href="#" class="search mobile"><i class="fal fa-search fa-fw"></i></a>
    <a href="#" class="menu-open button square"><i class="fal fa-bars fa-fw fa-2x"></i></a>
  </div>
  <div id="search-bar">
    <div id="search-box" class="container">
      <div id="search-input"></div>
      <a href="#" class="search-close"><i class="far fa-times fa-fw fa-2x"></i></a>
      <div id="search-results"></div>
    </div>
  </div>
</header>