<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5P7VLHG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header class="bg-gray-700 border-0 border-gray-500 sticky top-0 w-full z-20 dark:bg-gray-800 dark:border-b lg:z-auto" data-widget="nav">
  <div class="flex font-semibold items-center justify-between max-w-8xl relative lg:mx-auto lg:px-2 2xl:px-0 lg:static">
    <div class="bg-gray-700 flex items-center justify-between pl-3 py-2 w-full dark:bg-gray-800 lg:pl-0">
      <a href="/docs/"><img src="/assets/img/logo-developer-white.svg" alt="FusionAuth Developer logo" class="h-12"></a>
      <a href="#" class="p-1 rounded text-sm text-white hover:text-indigo-300 lg:hidden" data-widget-button="nav"><i class="fal fa-bars fa-fw fa-2x"></i></a>
    </div>

    <nav class="absolute bg-gray-700 duration-500 h-screen left-0 pt-10 text-left top-0 transition-all translate-y-[-100vh] w-full -z-10 dark:bg-gray-800 lg:h-auto lg:pt-0 lg:static lg:text-right lg:translate-y-0 lg:z-auto">
      <ul class="py-4 w-full z-0 lg:flex lg:gap-4 lg:h-full lg:items-center lg:justify-end">
        <li class="border-b border-gray-500 lg:border-0"><a class="block px-5 py-4 text-lg text-white hover:text-indigo-300 lg:px-0 lg:py-0 lg:text-sm" href="{% if jekyll.environment == 'development' %}https://webflow.fusionauth.dev{% else %}https://fusionauth.io{% endif %}">Back to site</a></li>
        <li class="border-b border-gray-500 lg:border-0"><a class="block px-5 py-4 text-lg text-white hover:text-indigo-300 lg:px-0 lg:py-0 lg:text-sm" href="/docs/">Docs</a></li>
        <li class="border-b border-gray-500 lg:border-0"><a class="block px-5 py-4 text-lg text-white hover:text-indigo-300 lg:px-0 lg:py-0 lg:text-sm" href="{% if jekyll.environment == 'development' %}https://webflow.fusionauth.dev{% else %}https://fusionauth.io{% endif %}/download">Downloads</a></li>
        <li class="hidden lg:border-l lg:border-gray-500 lg:block">&nbsp;</li>
        <li class="border-b border-gray-500 lg:border-0"><a class="block px-5 py-5 text-lg text-white hover:text-indigo-300 lg:px-0 lg:py-0 lg:text-sm" href="{% if jekyll.environment == 'development' %}https://account-local.fusionauth.io{% else %}https://account.fusionauth.io{% endif %}/account/"><i class="far fa-user fa-fw hidden lg:block"></i><span class="lg:hidden">My account</span></a></li>
        <li class="border-b border-gray-500 lg:border-0">
          <div id="theme-control" data-widget="action-menu" class="relative">
            <button class="block px-5 py-4 text-lg text-white hover:text-indigo-300 lg:px-0 lg:py-0"><i class="fa far fa-moon fa-fw hidden lg:block"></i><span class="lg:hidden">Change theme</span></button>
            <ul class="absolute bg-white border border-gray-200 hidden left-5 mt-8 rounded-lg shadow-lg text-gray-600 text-left top-5 w-36 z-50 dark:bg-gray-900 dark:border-gray-700 dark:text-gray-100 lg:left-0 lg:top-full">
              <!-- Preload bg-gray-100 bg-gray-600 text-indigo-300 text-indigo-500 -->
              <li class="rounded-t-lg hover:bg-gray-100 dark:hover:bg-gray-600"><a href="#light" class="flex items-center px-3 py-1"><i class="fa far fa-sun-bright text-gray-400 text-lg mr-2"></i> <span>Light</span></a></li>
              <li class="hover:bg-gray-100 dark:hover:bg-gray-600"><a href="#dark" class="flex items-center px-3 py-1"><i class="fa far fa-moon text-gray-400 text-lg mr-2"></i> <span>Dark</span></a></li>
              <li class="rounded-b-lg hover:bg-gray-100 dark:hover:bg-gray-600"><a href="#system" class="flex items-center px-3 py-1"><i class="fa far fa-computer-classic text-gray-400 text-lg mr-2"></i> <span>System</span></a></li>
            </ul>
          </div>
        </li>
        <li class="px-5 py-4 lg:px-0 lg:py-0">
          <a href="{% if jekyll.environment == 'development' %}https://webflow.fusionauth.dev{% else %}https://fusionauth.io{% endif %}/contact" class="align-top border duration-200 inline-flex font-semibold inline-block items-center justify-between rounded px-4 py-1 transition focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 bg-white border-indigo-600 text-indigo-600 hover:bg-indigo-700 hover:text-white">Contact sales</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
