<header class="left-0 sticky top-0">
  <div class="bg-gray-900 text-white text-sm w-full">
    <nav class="container mx-auto p-2 lg:px-4 lg:py-2.5">
      <ul class="flex items-center w-full">
        <li class="lg:flex-grow"><a href="/resources/auth0-migration/"><span class="text-gray-300">Worried about Okta's plans for Auth0?</span> <span class="hidden lg:inline">Read More</span> <i class="fal fa-long-arrow-right"></i></a></li>
        <li class="hidden lg:block px-2"><a href="/download/" class="inline-flex items-center"><i class="fal fa-rocket-launch text-lg pr-3"></i> Get Started</a></li>
        <li class="hidden lg:block px-2"><a href="#" class="inline-flex items-center"><i class="fal fa-search text-lg pr-3"></i> Search</a></li>
        <li class="hidden lg:block px-2"><a href="#" class="inline-flex items-center"><i class="fal fa-user-circle text-lg pr-3"></i> Login</a></li>
        <li class="hidden lg:block pl-4"><a href="#" class="bg-orange-500 font-extrabold px-4 py-2 rounded-sm text-2xs tracking-wide uppercase">Contact Sales</a></li>
      </ul>
    </nav>
  </div>
  <div class="w-full">
    <nav id="main-nav" class="relative {% if include.heroHeader %}text-white{% endif %}" {% if include.heroHeader %}data-white="true"{% endif %}>
      <ul class="flex items-center justify-between">
        <li class="p-3"><img id="main-nav-logo" class="h-10" alt="FusionAuth Logo" src="{% if include.heroHeader %}/assets/img/logo-white.svg{% else %}/assets/img/logo-gray.svg{% endif %}"/></li>
        <li class="p-3"><a id="main-nav-mobile-button" href="#"><i class="fal fa-bars fa-fw font-medium text-2xl"></i></a></li>
      </ul>
      <ul class="absolute h-screen hidden left-0 text-gray-900 top-full w-full">
        <li class="border-b border-t border-orange-100 font-medium p-3">
          <a href="#" class="flex items-center justify-between {% if page.url contains '/features' %}active{% endif %}">Product <i class="fal fa-2x fa-angle-down fa-fw"></i></a>
          <div class="hidden">
            <h2 class="font-hack py-4 text-xl text-gray-900 uppercase">Platform</h2>
            <div class="flex">
              <ul>
                <li><a href="#" class="{% if page.url contains '/features' %}active{% endif %}"><i class="fal fa-rocket-launch fa-fw"></i> Scalable</a></li>
                <li><a href="#" class="{% if page.url contains '/features' %}active{% endif %}"><i class="fal fa-rocket-launch fa-fw"></i> Scalable</a></li>
                <li><a href="#" class="{% if page.url contains '/features' %}active{% endif %}"><i class="fal fa-rocket-launch fa-fw"></i> Scalable</a></li>
                <li><a href="#" class="{% if page.url contains '/features' %}active{% endif %}"><i class="fal fa-rocket-launch fa-fw"></i> Scalable</a></li>
                <li><a href="#" class="{% if page.url contains '/features' %}active{% endif %}"><i class="fal fa-rocket-launch fa-fw"></i> Scalable</a></li>
              </ul>
              <ul>
                <li><a href="#" class="{% if page.url contains '/features' %}active{% endif %}"><i class="fal fa-rocket-launch fa-fw"></i> Scalable</a></li>
                <li><a href="#" class="{% if page.url contains '/features' %}active{% endif %}"><i class="fal fa-rocket-launch fa-fw"></i> Scalable</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="border-b border-orange-100 font-medium p-3">
          <a href="/pricing/" class="flex items-center justify-between {% if page.url contains '/pricing/' %}active{% endif %}">Developers <i class="fal fa-2x fa-angle-down fa-fw"></i></a>
        </li>
        <li class="border-b border-orange-100 font-medium p-3">
          <a href="/docs/" class="flex items-center justify-between {% if page.url contains '/docs/' %}active{% endif %}">Resources <i class="fal fa-2x fa-angle-down fa-fw"></i></a>
        </li>
        <li class="border-b border-orange-100 font-medium p-3">
          <a href="/download/" class="flex items-center justify-between {% if page.url contains '/download/' %}active{% endif %}">Why FusionAuth <i class="fal fa-2x fa-angle-down fa-fw"></i></a>
        </li>
        <li class="border-b border-orange-100 font-medium p-3">
          <a href="#" class="flex items-center justify-between {% if page.url contains '/resources' || page.url contains '/blog' || page.url contains '/community' || page.url contain '/customers-partners' || page.url contains '/upgrade/' %}active{% endif %}">About Us <i class="fal fa-2x fa-angle-down fa-fw"></i></a>
        </li>
        <li class="border-b border-orange-100 font-medium p-3">
          <a href="#" class="flex items-center justify-between {% if page.url contains '/learn' %}active{% endif %}">Pricing</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
